.tabs ul {
	margin: 0;
	padding-left: 0;
}

.tabs li {
	list-style: none;
	outline: none;
	flex-grow: 1;
	padding-left: 0;
}
.tabs li:hover {
	 background-color: var(--in-content-button-background-hover);
}

.tabs button {
	width: 100%;
	border: none;
	background-color: transparent;
}
.tabs button:hover {
	background-color: transparent;
}
.tabs button.active {
	background-color: var(--in-content-accent-color);
}

#category-cardbook-pane {
	-moz-context-properties: fill, fill-opacity, stroke;
	fill: transparent;
	stroke: currentColor;
	fill-opacity: var(--toolbarbutton-icon-fill-opacity);
	background-color: var(--in-content-categories-background);
	position: sticky;
	top: 0;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	margin: 0;
}

/* style buttons with images: */
button[isTab], button.iconButton {
    display: list-item;
    list-style-position: inside;
}

#category-cardbook-generalPane {
	list-style-image: url("icons/prefs.svg");
}
#category-cardbook-CardBookPane {
	list-style-image: url("icons/tab.svg");
}
#category-cardbook-EditionPane {
	list-style-image: url("icons/edit.svg");
}
#category-cardbook-advancedPane {
	list-style-image: url("icons/advanced.svg");
}
#category-cardbook-IMPPPane {
	list-style-image: url("icons/chat.svg");
}
#category-cardbook-customFieldsPane {
	list-style-image: url("icons/custom.svg");
}
#category-cardbook-listsPane {
	list-style-image: url("icons/list.svg");
}
#category-cardbook-syncPane {
	list-style-image: url("icons/synchronize.svg");
}
#category-cardbook-emailPane {
	list-style-image: url("icons/compose.svg");
}
#category-cardbook-birthdaylistPane {
	list-style-image: url("icons/smiley.svg");
}
#category-cardbook-helpPane {
	list-style-image: url("icons/help.svg");
}

/* for the contribute button */
.addon-detail-contribute-button {
	-moz-context-properties: fill;
	fill: currentColor;
	background-image: url("chrome://global/skin/icons/heart.svg");
	background-repeat: no-repeat;
	background-position: 8px;
	padding-inline-start: 28px;
	margin-top: var(--card-padding);
	margin-bottom: 0;
	align-self: flex-end;
}
.addon-detail-contribute-button:dir(rtl) {
	background-position-x: right 8px;
}

#autocompleteRestrictSearchvBox {
	width: 700px;
}
#autocompleteRestrictSearchFieldsTextBox {
	flex-grow: 1;
}
#adrFormulahBox {
	width: 700px;
}
#adrFormulaTextBox {
	flex-grow: 1;
}
#customFieldsDef {
	width: 700px;
}
#kindCustomTextBox,
#memberCustomTextBox {
	flex-grow: 1;
}
.cardbook-td-input > input {
	width: 90%;
}
.cardbook-large-column {
    width: 60%;
}
#calendarEntryTitlevBox {
	width: 700px;
}
#calendarEntryTitleTextBox {
	flex-grow: 1;
}

.prefImage {
    display: list-item;
    list-style-position: inside;
}
