:root {
    --listbox-selected-outline: none;
    --tree-header-table-height: 30px;
    --tree-header-cell-padding: 6px;
    --tree-header-cell-indent: 0;
    --list-item-min-height: 26px;
    --list-item-buttons-size: 22px;
    --table-header-cell-icon-width: 24px;
    --table-header-cell-icon-min-width: 24px;
    --table-row-cell-img-margin-inline-start: 6px;
    --table-row-cell-button-margin-inline-start: 4px;
    --in-content-button-height: 2.2em;
    --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --in-content-button-border-radius: 3px;
    --in-content-box-background: #fff;
}

:root[uidensity="compact"] {
    --tree-header-table-height: 27px;
    --tree-header-cell-padding: 3px;
    --tree-header-cell-indent: 3px;
    --list-item-min-height: 18px;
    --list-item-buttons-size: 18px;
    --table-header-cell-icon-width: 18px;
    --table-header-cell-icon-min-width: 18px;
    --table-header-cell-icon-button-padding: 0;
    --table-row-cell-img-margin-inline-start: 3px;
    --table-row-cell-button-margin-inline-start: 1px;
}

:root[uidensity="touch"] {
    --tree-header-table-height: 36px;
    --tree-header-cell-padding: 9px;
    --tree-header-cell-indent: -3px;
    --list-item-min-height: 32px;
    --table-header-cell-icon-width: 33px;
    --table-header-cell-icon-min-width: 33px;
    --table-row-cell-img-margin-inline-start: 11px;
    --table-row-cell-button-margin-inline-start: 9px;
}

@media not (prefers-contrast) {
    :root {
        --listbox-color: var(--color-gray-80);
        --listbox-selected-bg: var(--color-gray-20);
        --listbox-focused-selected-bg: var(--selected-item-color);
        --listbox-selected-color: var(--selected-item-text-color);
        --listbox-focused-selected-color: var(--selected-item-text-color);
        --listbox-hover: color-mix(in srgb, transparent 80%, var(--listbox-focused-selected-bg));
        --listbox-border-type: dashed;
        --tree-view-bg: var(--color-white);
        --tree-view-color: var(--color-ink-90);
        --tree-view-header-hover-bg: var(--color-gray-20);
        --tree-view-header-hover-active-bg: var(--color-gray-30);
        --tree-view-header-border-color: var(--color-gray-30);
        --tree-row-delete-button-color: var(--color-red-60);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --listbox-color: var(--color-gray-05);
            --listbox-selected-bg: var(--color-gray-70);
            --listbox-focused-selected-bg: var(--color-blue-60);
            --tree-view-bg: var(--color-gray-90);
            --tree-view-color: var(--color-gray-30);
            --tree-view-header-hover-bg: var(--color-gray-70);
            --tree-view-header-hover-active-bg: var(--color-gray-90);
            --tree-view-header-border-color: var(--splitter-color);
            --tree-row-delete-button-color: var(--color-red-40);
            --in-content-box-background: rgb(35, 34, 43);
        }
    }
}


.twisty-icon {
	margin-inline: 1px 0;
	-moz-context-properties: fill, fill-opacity;
	fill: currentColor;
	fill-opacity: 1;
	content: url("../skin/small-icons/arrow-right.svg");
}
.twisty-icon[expanded="true"] {
	content: url("../skin/small-icons/arrow-down.svg");
}


/* edition  test */
.cardbookExpandedClass {
	/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/small-icons/arrow-right.svg");
	-moz-context-properties: fill, fill-opacity;
	fill: currentColor;
	fill-opacity: 1;
}
.cardbookExpandedClass[expanded="true"] {
	list-style-image: url("chrome://cardbook/content/skin/small-icons/arrow-down.svg");
}

.cardbookProcessFnClass,
.cardbookProcessClass {
		/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/computeKO.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookProcessFnClass[autoComputeFn="true"],
.cardbookProcessClass[autoConvertField="true"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/computeOK.svg");
}

.cardbookSwitchButtonDownClass {
	/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/small-icons/arrow-down.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

.cardbookSwitchButtonUpClass {
	/* Override button appearance */
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/small-icons/arrow-up.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

#searchForOnlineKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/remote.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForThKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/localdb.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForLocalKeyEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/file.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

#previousEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/previous.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#nextEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/next.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

#createTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/addtemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#openTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/opentemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#applyTemplateButton {
	-moz-appearance: none;
	min-width: 20px;
	margin-block: 0;
	margin-inline: 1px 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	-moz-user-focus: normal;
	list-style-image: url("chrome://cardbook/content/skin/icons/applytemplate.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

.cardbook-large-column {
    width: 60%;
}
